.observed {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50%);
}
.show {
  opacity: 1;
  transition: all 500ms linear;
  filter: blur(0);
  transform: translateX(0);
}
.observed.card {
  transform: translateX(-50%);
}
.show.card {
  transform: translateX(0);
}
.show.card:nth-child(4) {
  transition-delay: 200ms;
}
.show.card:nth-child(3) {
  transition-delay: 350ms;
}
.show.card:nth-child(2) {
  transition-delay: 500ms;
}
.show.card:nth-child(1) {
  transition-delay: 650ms;
}
