/*CSS Resets*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}
/*Utility*/
.centered {
  text-align: center;
}
/*Navigation*/
nav {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  align-items: center;
  padding: 0.75rem;
}
.logo {
  max-width: 100%;
  max-height: 4rem;
}
.navlist {
  flex-grow: 1;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.navlink {
  text-decoration: none;
  color: #000;
}
/*Hero*/
.hero {
  background-image: url(https://cdn.pixabay.com/photo/2017/03/29/11/29/nepal-2184940_960_720.jpg);
  background-color: rgba(10, 10, 10, 0.9);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  padding: 5rem;
  position: relative;
  display: grid;
  place-items: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #000000, #000000);
  opacity: 0.3;
}
.hero__title {
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  font-family: system-ui;
  font-weight: 900;
  z-index: 1;
}
.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  font-family: system-ui;
}
.content {
  width: 70rem;
  margin: 0 auto;
}
.two-rows {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}
.card-set {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.card {
}
