/*CSS Resets*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}
body {
  font-family: "Alexandria", sans-serif;
}
/*Utility*/
.centered {
  text-align: center;
}
.std-text {
  max-width: 52ch;
  color: rgb(56, 56, 56);
  margin-bottom: 1rem;
  line-height: 1.15;
  font-weight: 300;
}
.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
.gaps {
  display: grid;
  gap: 2rem;
}

/*Navigation*/
.container {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  align-items: center;
  padding: 0.25rem;
  z-index: 2;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0px 10px 10px rgb(68, 68, 68);
}
.logo {
  max-width: 100%;
  max-height: 2.75rem;
}

.navlist {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin-right: 5rem;
  max-width: 60rem;
}
.navlink {
  text-decoration: none;
  color: #000;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 300;
}
.navlink:where(:hover, :focus) {
  color: rgb(81, 81, 81);
}
/*Hero*/
.hero {
  background-image: url(https://cdn.pixabay.com/photo/2017/03/29/11/29/nepal-2184940_960_720.jpg);
  background-color: rgba(10, 10, 10, 0.9);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  padding: 5rem;
  position: relative;
  display: grid;
  place-items: center;
}
.hero__banner {
  min-height: fit-content;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #000000, #000000);
  opacity: 0.3;
}
.hero__title {
  font-size: clamp(1.95rem, 6.5vw, 5rem);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  z-index: 1;
  line-height: 1;
}
.hero__sub {
  font-size: clamp(1.5rem, 4.25vw, 3.5rem);
  color: rgb(255, 255, 255);
  line-height: 1;
  transition: opacity 500ms linear;
}
.fadeout {
  transition: opacity 1500ms linear;
  opacity: 0;
}
.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(1.25rem, 5vw, 3rem);
}
.content {
  max-width: 70rem;
  margin: 5rem auto;
}
.two-rows {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  margin-bottom: 5rem;
}
.two-rows-reverse {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin-bottom: 5rem;
}
.equal-collumns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 3rem;
}
.download-list li {
  margin-left: 3rem;
}
.download-list a {
}
@media screen and (max-width: 60rem) {
  .two-rows,
  .two-rows-reverse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .two-rows-reverse {
    flex-direction: column-reverse;
  }
  .two-rows img,
  .two-rows-reverse img {
    max-height: 20rem;
  }
  .equal-collumns {
    justify-items: center;
  }
  .content {
    margin-inline: 1rem;
  }
  .title {
    text-align: center;
  }
  .navlist {
    overflow-y: hidden;
    display: block;
  }
}
.card-set {
  margin-block: 3rem;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
}
.card-title {
  margin-top: 1rem;
  font-weight: 300;
}
.card img {
  aspect-ratio: 1/1;
  max-width: 100%;
}
/*FAQ*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}
.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/*Footer*/
footer {
  padding-block: 3rem 1rem;
  background-color: rgb(47, 54, 75);
  color: white;
}
.social-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.social-icons a {
  color: white;
}
.social-icons > * {
  font-size: 2rem;
}
.downloads {
  padding-block: 3rem 2rem;
}
.download__links {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.download__links a {
  color: rgb(191, 191, 191);
  font-size: 0.75rem;
}
.copy {
  color: rgb(191, 191, 191);
  font-size: 0.75rem;
  text-transform: uppercase;
}
#contact .title {
  margin-bottom: 3rem;
}
label {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}
.data {
  font-size: 1.4rem;
  line-height: 1.35;
  justify-self: center;
}
input,
textarea {
  line-height: 2.35rem;
  font-size: 1.3rem;
  margin-bottom: 1.95rem;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
  width: 100%;
}
textarea {
  resize: none;
  min-height: 2rem;
}
.btn-submit {
  display: block;
  margin: 0 auto;
  padding-block: 0.75em;
  padding-inline: 0.95em;
  font-size: 1.1rem;
  border-radius: 3rem;
  background-color: rgb(213, 117, 44);
  border: none;
  text-transform: uppercase;
  /* box-shadow: 2px 2px 2px rgb(66, 65, 63); */
  color: white;
  transition: background-color 300ms linear;
  cursor: pointer;
  border: 1px solid rgb(255, 111, 0);
}
.btn-submit:where(:hover, :focus) {
  color: rgb(255, 111, 0);
  background-color: white;
  border: 1px solid rgb(255, 111, 0);
  transition: background-color 300ms linear;
}
.btn-submit:focus {
  outline: 1px solid black;
}
.slider {
  display: flex;
  max-width: 100%;
}
#slider-left,
#slider-right {
  background-color: transparent;
  border: none;
  position: relative;
  font-size: 3rem;
  cursor: pointer;
  width: 3rem;
  transition: font-size 200ms linear;
}
#slider-left:is(:hover, :focus),
#slider-right:is(:hover, :focus) {
  color: #444;
  font-size: 3.5rem;
  transition: font-size 200ms linear;
}
.slider-image {
  display: none;
}
.slider-image.active {
  display: block;
  background-color: transparent;
}
